<template>
    <div v-cloak>
        <modal v-if="show" :modalStyle="modalStyle">
            <transition name="slide-fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    @click="destroy()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ text }}</p>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-6 form-group">
                                <button class="btn btn-primary shadow btn-block" @click="onOkCallback()"> {{ btnOk }}
                                </button>
                            </div>
                            <div class="col-md-6 form-group">
                                <button class="btn btn-outline-danger shadow btn-block" @click="onCancelCallback()">{{
                                    btnCancel }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </modal>
    </div>
</template>

<script>
    import Modal from '../../node_modules/finnet_vuejs_common/src/components/modal';


    export default {
        name: "modal-confirm",
        props: {
            text: {
                required: true
            },
            title: {
                required: true
            },
            callBackMethods: {
                required: true
            },
            btnOk: {
                default: 'Ok'
            },
            btnCancel: {
                default: 'Cancel'
            }
        },
        components: {
            Modal
        },
        data: function () {
            return {
                show: false,
                modalStyle: {
                    width: '300px',
                    padding: '0px',
                    marginLeft: 'auto',
                    marginRight: 'auto',
                    marginTop: '30px',
                    alignItems: 'center',
                    justifyContent: 'center',
                    'border-radius': '0.75rem !important'
                }
            }
        },
        destroyed: function () {
            this.$el.remove();
        },
        mounted: function () {

            this.show = true;
        },
        methods: {
            destroy: function () {
                this.show = false;
                this.vm.nextTick(function () {
                    self.$destroy();
                });
            },
            onOkCallback: function () {
                let self = this;
                this.callBackMethods['onOk']();
                this.show = false;
                this.vm.nextTick(function () {
                    self.$destroy();
                });

            },
            onCancelCallback: function () {
                let self = this;
                this.callBackMethods['onCancel']();
                this.show = false;
                this.vm.nextTick(function () {
                    self.$destroy();
                });
            },
        }
    }
</script>

<style scoped>
    .modal-container {
        margin: auto;
        padding: 10px;
        width: 300px;
    }

    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateX(10px);
        opacity: 0;
    }
</style>